services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
